@import 'mixin';

$blue: rgba(0, 107, 255, 0.85);

#root {
  width: 70%;
  max-height: 100vh;
  overflow-y: auto;
  @include custom-scrollbar;

  header {
    background: $blue;
    position: sticky;
    top: 0;

    height: 50px;
    .title {
      margin: 0;
      color: #fff;
      text-align: center;
      line-height: 50px;
      font-size: 19px;
    }
  }
}

#list {
  .search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;

    .search-bar {
      background-color: $blue;
      border-radius: 20px;
      display: flex;
      height: 40px;
      width: 100%;

      .search-btn {
        width: 50px;
        height: 40px;
        border: none;
        background: none;
        cursor: pointer;
      }

      .search-input {
        background-color: transparent;
        border: none;
        width: 100%;
        padding-right: 30px;
        color: #fff;
        font-size: 16px;

        &:focus {
          outline: none;
        }
      }
    }

    .search-result {
      height: 66px;
      display: flex;
      align-items: center;
      font-size: 19px;
      font-weight: bold;

      .search-keyword {
        color: $blue;
        margin-right: 5px;
      }
    }
  }
}
